body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f5f5f5;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

h1 {
    color: rgb(252, 194, 5);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1a1a2e;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid navy;
}

#introdução {
    color: rgb(255, 255, 255);
}

nav a,
nav a:visited,
nav a:not(:last-child) {
    text-decoration: none;
    color: rgb(252, 194, 5);
    margin-right: 2rem;
}

nav a:hover {
    color: white;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid rgb(252, 194, 5);
}

#hero {
    padding: 30px;
}

#sobre {
    padding: 30px;
}

#habilidades {
    padding: 30px;
}

#projetos {
    padding: 30px;
}

#contato {
    padding: 30px;
}

footer{
    background-color: #1a1a2e;
    text-align:center;
    padding: 30px;
    color:rgb(252, 194, 5);
    border-top: 2px solid navy;
}