body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

@media (min-width: 768px) {
    body {
        margin: 0;
        background-color: #f5f5f5;
    }

    body p {
    font-size: large;
    }
}

h1 {
    color: rgb(252, 194, 5);
    font-size: 2rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: rem;
    }
}

header {
    background-color: #1a1a2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid navy;
}

#introdução {
    color: rgb(255, 255, 255);
    font-size: 0.9rem;
    display: flex;
    white-space: nowrap;
}

nav {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

@media(min-width: 768px) {
    nav {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;

    }
}

nav a,
nav a:visited {
    text-decoration: none;
    color: rgb(252, 194, 5);
}

nav a:hover {
    color: white;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid rgb(252, 194, 5);
}

#hero {
    padding: 30px;
}

#sobre {
    padding: 30px;
}

#habilidades {
    padding: 30px;
}

.habilidades-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.habilidades-container div {
    flex: 1;
    min-width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}

#projetos {
    padding: 30px;
}

.projetos-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
}

@media (min-width: 768px) {
    .projetos-container {
        flex: 1;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }
}

@media (min-width: 768px) {
    .projeto-destaque {
        grid-column: span 2;
        text-align: center;
        justify-content: center;
        list-style: none;
    }

    .projeto-destaque li {
        text-align: center;
        justify-self: center;
    }
}

.projeto-destaque a {
    text-decoration: none;
}

.projetos-container article {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
}


#contato {
    padding: 30px;
}

footer {
    background-color: #1a1a2e;
    text-align: center;
    padding: 30px;
    color: rgb(252, 194, 5);
    border-top: 2px solid navy;
}